header {
    min-height: 350px;
    background-image: url("img/jumbo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
body {
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer{
    min-height: 150px;
    background-color: rgb(36, 33, 33);

}

.flex-nav-container {
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items:center;
    min-height: 50px;
    min-width: 100%;

}
.logo{

    min-width: 19%;
    min-height: 30px;
    color: black;
    text-align: center;

}

.logo > .logoimg {
    
    height:25px;
    text-align: center;
}

.link {
    min-width: 60%;
    min-height: 30px;;
    color: black;
    text-align: center;
}
.link a {
    text-decoration: none;
    padding: 12px;
    color: white;
    font-size: 10px;
}

.login {
    min-width: 19%;
    min-height: 30px;
    color: black;
    text-align: center;
}

.login .btn-login {
    border-radius: 30%;
    height: 18px;
    width: 40px;
    border: none;
    font-size: 8px;
}


.header-section-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    
   
}

.square-header-section {
    min-height: 187px;
    flex-basis: 50%;
    color: white;
    text-align: center;
    padding: 11px;
}

.square-header-section button {
    width: 104px;
    height: 30px;
    border-radius: 40%;
    text-align: center;
    border: none;
    font-size: 11px;
    font-weight: bold;
    margin: 8px;
}

.square-header-section .btn-mac {
    background-color: white;
    color: black;
}

.square-header-section .btn-brwser {
    background-color:black;
    color: white;
    

}
.section-flex-container-G-special i {
    height: 20px;
    width: 530px;
}





.section-flex-container-W {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background-color:white;
    padding: 10px;
}

.section-flex-container-G {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background-color:rgb(237, 237, 237);
    padding: 10px;
}

.section-flex-container-G-special {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background-color:rgb(237, 237, 237);
}
.section-flex-container-B {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    min-height: 400px;
}

.section-flex-container-B-bottom {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
}

.square-a{
    min-height: 250px;
    min-width: 65%;
}



.square-b{
    min-height: 250px;
    min-width: 20%;
    font-size: 2.0em;

}



.square-c{
    min-height: 250px;
    min-width: 20%;

    }
.section-flex-container-G-special  h2 {
   text-align: center;
    font-size: 45px;
}
.section-flex-container-G-special  h3 {
    text-align: center;
     font-size: 20px;
 }

.section-flex-container-G-special h6 {
    text-align: center;
     font-size: 15px;
 }

 .section-flex-container-G-special .btn-mac {
    width: 140px;
    height: 40px;
    border-radius: 30%;
    text-align: center;
    border: none;
    font-size: 13px;
    font-weight: bold;
    margin: 20px;
    background-color: rgb(78, 134, 229);
    color: white;
}


    .column-big {
        min-height: 300px;
        min-width: 27%;
        border: 2px dashed white;}

        .column-big h3 {
            color: rgb(78, 134, 229);
            font-size: 25px;
            margin:0;
            padding-bottom: 15px;
        }
        .column-big img {
            height: 15px;
            
        }
        .column-big span {
            height: 20px;
            color: white;
            font-size: 12px;
            text-align: center;
            line-height: 15px;
            vertical-align: middle;
        }

        .fa-twitter,.fa-facebook,.fa-instagram,.fa-youtube {
            color: white;
          padding-top: 8px;
          padding-right: 5px;
            
        }
      
        .column-small {
            min-height: 300px;
            min-width: 13%;
            border: 2px dashed white;
            font-size: 13px;
            color: white;
        }

            .column-small > :first-child{
                color: rgb(78, 134, 229)
            }


        .logo-footer{
            min-width: 20%;
            min-height: 30px;
            color: black;
            text-align: center;
            border: 2px dashed black;
            
        }
    .button {
        min-width: 20%;
        min-height: 30px;
        color: black;
        text-align: center;
        border: 2px dashed black;
    }
    .footer-flex-container-down {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 55px;
        min-width: 80%;  
        border: 2px dashed;
    }
    .logofooter img {
        height: 30px;
        margin: 0;
    }
    .btn-footer {
        background-color: rgb(78, 134, 229);
        color: white;
        width: 80px;
        height: 30px;
        border: none;
        border-radius: 20%;
    }
    
    hr {
        border-bottom: 1px solid blue;
        
    }


    

